body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/bg-tile.jpg");
}

.app-wrapper {
  width: 75%;
  margin: auto;
  box-shadow: 0 0 38px #000;
  border-radius: 1px;
}
.profile-container {
  background: #1565c0;
  display: flex;
  height: 12rem;
  padding-top: 2rem;
  justify-content: space-evenly;
}

.name-role {
  margin-right: 23%;
}

.avatar-container {
  margin-left: 23%;
}

.name {
  color: #eeeeee;
  font-size: 3rem;
  line-height: 6rem;
}

.role {
  color: #eee;
  font-size: 1rem;
  line-height: 0;
}

.avatar {
  width: 10rem !important;
  height: 10rem !important;
}

.about {
  background-color: #424242;
  color: #eee;
  padding: 2rem;
}

.main-content-wrapper {
  background: #fafafa;
  display: flex;
}

.leftbar {
  width: 20%;
  padding: 4rem 4rem 0 4rem;
  border-right: 1px solid #bbb;
  box-shadow: 10px 0 8px -8px #bbb;
}
.skill-heading {
  font-size: 2rem;
  color: #1565c0;
}

.skill-container {
  margin-top: 1rem;
}

.skill-row {
  display: flex;
  margin: 0.25rem 0 0.25rem 0;
}

.skill-name {
  width: 4rem;
  color: #707070;
}

.progress-bar {
  width: 15rem;
  margin-top: 0.37rem;
  height: 0.5rem !important;
}

.progress-bar > .MuiLinearProgress-barColorPrimary-15 {
  background-color: #1565c0;
}

.content {
  width: 71%;
  padding: 4rem 4rem 0 4rem;
}

.MuiPrivateTabIndicator-colorSecondary-48 {
  background-color: #1565c0 !important;
}
